env
.env
frontend/node_modules
frontend/package-lock.json
frontend/.next
user_db/chroma.sqlite3
__pycache__/agents.cpython-311.pyc
__pycache__/parsers.cpython-311.pyc
__pycache__/utils.cpython-311.pyc
__pycache__
uploads

backend/.env
backend/node_modules
backend/package-lock.json

frontend/.env
backendPython/.env
data
backendPython/info_db
backendPython/info_db