.container {
  padding-top: 1rem;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.25rem;
}
.item {
  color: #0000ff;
  font-size: 1.2rem;
  width: 100%;
  padding: 0.5rem;
  border-radius: 12px;
  cursor: pointer;
}
.item:hover {
  background: #5e5e61;
}
.item > a {
  all: unset;
}
