.container {
  padding-top: 1rem;
}
.items {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  gap: 0.1rem;
  width: 100%;
  text-transform: uppercase;
}
.item {
  color: var(--primary-color);
  font-size: 1.2rem;
  width: -webkit-fill-available;
  padding: 0.5rem;
  border-radius: 4px;
  cursor: pointer;
}
.item:hover {
  background: #b0b0be;
  opacity: 0.9;
}
.active {
  background: #b0b0be;
  opacity: 0.9;
}
