.section {
    padding: 15rem 4.8rem;
    text-align: center;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.section h1 {
    position: relative;
    font-size: 4rem;
    margin: 0;
}

.section p {
    position: relative;
    font-size: 1.2rem;
    color: var(--gray);
}

.section a {
    margin-top: 3rem;
    background-color: var(--primary-color);
    appearance: none;
    border-radius: 1rem;
    padding: 1rem 2rem;
    color: var(--white-light-color);
    font-weight: bold;
}